/*.bdsproj
/*.identcache
/*.local
/Build
/Components
/HELP_SOURCE
/PluginCodding
/Release.bat
/__history
/engchangelog.txt
/fastmm
/inject.bdsproj
/inject.bdsproj.local
/inject.cfg
/inject.dof
/inject.dpr
/inject.identcache
/inject.~dpr
/l2ph.bdsproj
/l2ph.bdsproj.local
/l2ph.cfg
/l2ph.dof
/l2ph.dpr
/l2ph.drc
/l2ph.identcache
/l2ph.res
/l2ph.~dpr
/trash.bat
/units
