*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.jdbg

*.bdsproj
*.cfg
*.identcache
*.local
*Resource.rc

*.~*
*.log
*.pLog
*.temp
__history/

/Help/Help/
/Source/Build/
/Source/Components/
/Source/PluginCodding/
/Source/fastmm/

engchangelog.txt

Release.bat
trash.bat
